@model IEnumerable<UI.Models.OrderContainerViewModel>

@{
    ViewBag.Title = "Cabinet";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center><h2 class="mt-5 text-warning">Cabinet | Orders History</h2></center>

<div class="container-lg mt-5 text-warning">
    <table class="table table-bordered table-dark border-warning bg-darkgray">
        <tr class="text-greenyellow">
            <th>Id</th>
            <th>Data & Time</th>
            <th>State</th>
            <th>Options</th>
        </tr>
        @if (Model == null)
        {
            <tr class="text-warning">
                <td colspan="4" class="text-center">No orders!</td>
            </tr>
        }
        else
        {
            foreach (var order in Model)
            {
                <tr class="text-warning">
                    <td>@order.Id</td>
                    <td>@order.DateTime</td>
                    <td>
                        @if (order.IsAccepted)
                        {
                            <span class="text-success">Accepted</span>
                        }
                        else
                        {
                            <span class="text-danger">In Process</span>
                        }
                    </td>
                    <td>
                        <div class="d-flex justify-content-around align-items-center">
                            <button class="btn bg-greenyellow btn-xs" onclick="showOrderDetails(@order.Id)">Details</button>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>
