#localImg, #urlimage {
    display: none;
}

#radioUrlImg, #radioFileImg {
    display: inline-block;
}

.bg-greenyellow {
    background-color: greenyellow !important;
}

.bg-black {
    background-color: black !important;
}

.bg-darkgray {
    background-color: #212121 !important;
}

.text-greenyellow {
    color: greenyellow !important;
}

.text-green {
    color: rgb(0, 128, 0) !important;
}

.w-40{
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-85 {
    width: 85% !important;
}

.star03 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 25%, #71748d 25%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star04 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 40%, #71748d 40%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star05 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 50%, #71748d 50%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star05 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 50%, #71748d 50%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star05 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 50%, #71748d 50%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star06 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 60%, #71748d 60%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star07 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 75%, #71748d 75%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

textarea{
    min-height: 100px !important;
}

.rounded-right-0{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-control{
    box-shadow: none !important;
}

.browse-padding{
    padding-top: 6.25px;
    padding-bottom: 0px;
}

.dark-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75) !important;
}

#carouselExampleIndicators img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.partial-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}