#localImg, #urlimage {
    display: none;
}

#radioUrlImg, #radioFileImg {
    display: inline-block;
}

.bg-greenyellow {
    background-color: greenyellow !important;
}

.bg-black {
    background-color: black !important;
}

.bg-darkgray {
    background-color: #212121 !important;
}

.text-greenyellow {
    color: greenyellow !important;
}

.text-green {
    color: rgb(0, 128, 0) !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-85 {
    width: 85% !important;
}

.star03 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 25%, #71748d 25%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star04 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 40%, #71748d 40%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star05 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 50%, #71748d 50%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star05 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 50%, #71748d 50%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star05 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 50%, #71748d 50%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star06 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 60%, #71748d 60%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star07 {
    background: linear-gradient(to right, #ffc107 0%, #ffc107 75%, #71748d 75%,#71748d 100%); /* W3C */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

textarea {
    min-height: 100px !important;
}

.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-control {
    box-shadow: none !important;
}

.browse-padding {
    padding-top: 6.25px;
    padding-bottom: 0px;
}

.dark-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75) !important;
}

#carouselExampleIndicators img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.partial-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.ml-350px {
    margin-left: 350px !important;
}

.w-350px {
    width: 350px !important;
}

.mh-40 {
    max-height: 40vh !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #343a40;
}

::-webkit-scrollbar-thumb {
    background-color: #71748d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellowgreen;
}

.h-100px{
    height: 100px;
}

.w-120px{
    width: 120px;
}

.ob-fit-cover {
    object-fit: cover;
}

.justify-self-end {
    justify-self: end;
}

.h-40px{
    height: 41px !important;
}

.border-solid {
    border-style: solid !important;
}

.mt-60px{
    margin-top: 60px !important;
}

.w-20{
    width: 20% !important;
}

.h-75vh{
    height: 75vh !important;
}

.validation-summary-errors {
    display: flex;
    justify-content: center;
}

.cart-alert {
    display: none;
    position: fixed !important;
    z-index: 999 !important;
    top: 80vh !important;
    padding-left: 30%;
    padding-right: 30%;
}

.bg-transparent-70{
    background-color: rgba(0, 0, 0, 0.7);
}